    Char
        name char(100)
        name --> 100 characters(fixed)
        simran --> 6 char
        100 - 6 = 94
    
    Varchar 
        name varchar(100)
        name --> 100 (variable)
        simran --> 6 char 
        100 - 6 = 94 (free to use)

### Aggregate Functions

    1. min
    2. max
    3. sum
    4. avg
    5. count --> count number of values or rows which are not null

    student --> id  link fees --> sid

    categorial data --> groups
    
        groups --> courses 
        groups --> course_status
        
        group by --> condition --> having

### JOINS
    
    We use joins to merge the 2 tables and get data from it

    left_table join_type right_table
    1. inner
        common data 
        left_table --> 3 columns
        right_table --> 4 columns 
        you need to decide the column on which basis you want to find intersection(common)
        select columns from t1 inner join t2 on join_condition;
        
    2. outer
        all data
        
    3. left 
        whole data of left_table but common data of both the table
        
    4. right
        whole data of right_table but common data of both the table

    pattern matching --> like
    _ --> one character
    % --> zero or more character