In [2]:
i = 0
n = 5
while i<5:
    print("*"*(n-i))
    i += 1

*****
****
***
**
*

In [4]:
from getpass import getpass

In [5]:
getpass()

········

'ijpijfpijo'

In [7]:
print("STONE PAPER SCISSOR GAME".center(80, "#"))
choices = ['stone', 'paper', 'scissor']
print("\n CHOOSE ANY OPTION FROM THESE --> ", *choices)
p1_win = [('stone', 'scissor'), ('scissor', 'paper'), ('paper', 'stone')]
i = 1
p1_score = 0
p2_score = 0
while i<=3:
    p1 = getpass(f"Player1 : [{i}]--> ".rjust(50)).strip().lower()
    p2 = getpass(f"\n Player2 : [{i}]--> ").strip().lower()
    if p1 in choices and p2 in choices:
        if (p1, p2) in p1_win:
            p1_score += 1
        elif p1 == p2:
            p1_score += 1
            p2_score += 1
        else:
            p2_score += 1
    else:
        print("\n Player choice is not right...")
        
    print(f"\n Player1 choose {p1.upper()} and Player2 choose {p2.upper()}")
    print(f"\n Updated Score of Both the players Is")
    print(f"\n Player1 --> {p1_score}\n Player2 --> {p2_score}")
    i += 1
if p1_score > p2_score:
    print("\n Player1 won the game...")
elif p1_score == p2_score:
    print("\n TIE...")
else:
    print(f"\n Player2 won the game...")
print("#"*80)

############################STONE PAPER SCISSOR GAME############################

 CHOOSE ANY OPTION FROM THESE -->  stone paper scissor
                                 Player1 : [1]--> ········

 Player2 : [1]--> ········

 Player choice is not right...

 Player1 choose STONE and Player2 choose PIJRFIJ

 Updated Score of Both the players Is

 Player1 --> 0
 Player2 --> 0
                                 Player1 : [2]--> ········

 Player2 : [2]--> ········

 Player choice is not right...

 Player1 choose IFJIFIJ and Player2 choose SCISSOR

 Updated Score of Both the players Is

 Player1 --> 0
 Player2 --> 0
                                 Player1 : [3]--> ········

 Player2 : [3]--> ········

 Player choice is not right...

 Player1 choose  and Player2 choose

 Updated Score of Both the players Is

 Player1 --> 0
 Player2 --> 0

 TIE...
################################################################################

In [9]:
print("STONE PAPER SCISSOR GAME".center(80, "#"))
choices = ['stone', 'paper', 'scissor']
print()
print("INSTRUCTIONS".center(80))
print("\n CHOOSE ANY OPTION FROM THESE --> ", *choices)
p1_win = [('stone', 'scissor'), ('scissor', 'paper'), ('paper', 'stone')]
i = 1
p1_score = 0
p2_score = 0
while i<=3:
    p1 = getpass(f"Player1 : [{i}]--> ".rjust(50)).strip().lower()
    p2 = getpass(f"\n Player2 : [{i}]--> ").strip().lower()
    if p1 in choices and if p2 in choices:
        if (p1, p2) in p1_win:
            p1_score += 1
        elif p1 == p2:
            p1_score += 1
            p2_score += 1
        else:
            p2_score += 1
    elif p1 not in choices and p2 not in choices:
        p1_score -= 1
        p2_score -= 1
    elif p2 not in choices:
        p2_score -= 1
        p1_score += 1
    elif p1 not in choices:
        p1_score -= 1
        p2_score += 1
        
    print(f"\n Player1 choose {p1.upper()} and Player2 choose {p2.upper()}")
    print(f"\n Updated Score of Both the players Is")
    print(f"\n Player1 --> {p1_score}\n Player2 --> {p2_score}")
    i += 1
if p1_score > p2_score:
    print("\n Player1 won the game...")
elif p1_score == p2_score:
    print("\n TIE...")
else:
    print(f"\n Player2 won the game...")
print("#"*80)

############################STONE PAPER SCISSOR GAME############################

                                  INSTRUCTIONS

 CHOOSE ANY OPTION FROM THESE -->  stone paper scissor
                                 Player1 : [1]--> ········

 Player2 : [1]--> ········

 Player1 choose STONE and Player2 choose PIJJ

 Updated Score of Both the players Is

 Player1 --> 1
 Player2 --> -1
                                 Player1 : [2]--> ········

 Player2 : [2]--> ········

 Player1 choose PIRFIJ and Player2 choose STONE

 Updated Score of Both the players Is

 Player1 --> 0
 Player2 --> 0
                                 Player1 : [3]--> ········

 Player2 : [3]--> ········

 Player1 choose STONE and Player2 choose SCISSOR

 Updated Score of Both the players Is

 Player1 --> 1
 Player2 --> 0

 Player1 won the game...
################################################################################

##### You need to update and 
    If any player enter wrong input then take input till it enters right

#### Loop

    for var_name in iterable_object:
        s1
        s2
        
    It will repeate the steps s1 and s2 till it can traverse the elements 
    from iterable_object
    
    Iterable_objects:
    
    1. string
    2. list
    3. tuple
    4. dict
    5. sets
    6. dict_keys
    7. dict_values
    8. dict_items
    etc

In [12]:
type({'name': 'NAME', 'surname': 'SURNAME'}.keys())

dict_keys

In [13]:
for i in "python":
    print(i)
# i = 'p'
# i = 'y'
# i = 't'
# i = 'h'
# i = 'o'
# i = 'n'

p
y
t
h
o
n

In [14]:
for i in "hello world":
    print("Today is Good Day")

Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day

In [16]:
c = 0
for i in "hello world":
    c += 1
    print("Today is Good Day")
print(c)

Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
Today is Good Day
11

In [18]:
c = 0
for i in "hello world":
    c += 1
    print(i)
print(c)

h
e
l
l
o

w
o
r
l
d
11

In [19]:
print(i)

d

In [20]:
for ele in [1, 2, 3, 4, 5]:
    print(ele)

1
2
3
4
5

In [21]:
t = (1, 2, 3, 4, 'hello', 'hi', 'world', 'corona', 'vaccine')

In [23]:
for i in t:
    print(i, "--> ", i*2)

1 -->  2
2 -->  4
3 -->  6
4 -->  8
hello -->  hellohello
hi -->  hihi
world -->  worldworld
corona -->  coronacorona
vaccine -->  vaccinevaccine

In [24]:
d = {"city": 'jaipur', 'temp': 40, 'max_temp': 40, 'min_temp': 35, 'state': 'rajasthan'}

In [25]:
print(*d)

city temp max_temp min_temp state

In [26]:
for i in d:  # default --> keys will be iterate
    print(i)

city
temp
max_temp
min_temp
state

In [28]:
for i in d.keys():
    print(i)

city
temp
max_temp
min_temp
state

In [29]:
for i in d.values():
    print(i)

jaipur
40
40
35
rajasthan

In [30]:
for i in d.items():
    print(i)

('city', 'jaipur')
('temp', 40)
('max_temp', 40)
('min_temp', 35)
('state', 'rajasthan')

In [32]:
for i in d.items():
    print("Key --> ", i[0])
    print("Value --> ", i[1])
    print()

Key -->  city
Value -->  jaipur

Key -->  temp
Value -->  40

Key -->  max_temp
Value -->  40

Key -->  min_temp
Value -->  35

Key -->  state
Value -->  rajasthan

In [33]:
## unpacking

In [34]:
a, b = 10, 20

In [35]:
a

10

In [37]:
b

20

In [38]:
a, b = [1, 2]

In [39]:
a

1

In [40]:
b

2

In [41]:
a, b = (10, 11)

In [42]:
a

10

In [43]:
b

11

In [44]:
a, b = ("hello", "hi")

In [45]:
a

'hello'

In [46]:
b

'hi'

In [47]:
a, b, c = "str"

In [48]:
a

's'

In [49]:
b

't'

In [50]:
c

'r'

In [51]:
a, b, c, d = "str"

ValueError: not enough values to unpack (expected 4, got 3)

In [52]:
a, b = [1, [1, 2, 3, 4]]

In [53]:
a

1

In [54]:
b

[1, 2, 3, 4]

In [55]:
a, *b = [1, 2, 3, 4]

In [56]:
a

1

In [57]:
b

[2, 3, 4]

In [58]:
for i in d.items():
    key, value = i
    print(f"\n Key --> {key}")
    print(f"\n Value --> {value}")
    print()

 Key --> city

 Value --> jaipur


 Key --> temp

 Value --> 40


 Key --> max_temp

 Value --> 40


 Key --> min_temp

 Value --> 35


 Key --> state

 Value --> rajasthan

In [59]:
for key, value in d.items():
    print(f"\n Key --> {key}")
    print(f"\n Value --> {value}")
    print()
# key, value = ('city', 'jaipur')
# key, value = ('temp', 40)
# key, value = ('max_temp', 40)

 Key --> city

 Value --> jaipur


 Key --> temp

 Value --> 40


 Key --> max_temp

 Value --> 40


 Key --> min_temp

 Value --> 35


 Key --> state

 Value --> rajasthan

In [60]:
for a in {1, 2, 3, 4}:
    print(a)

1
2
3
4

In [61]:
name = ['simran', 'tushar', 'ritik', 'vishal', 'subhodeep', 'rahan']
marks = [50, 60, 70, 40, 60, 80]

##### Lazy evaluation

In [62]:
zip(name, marks)  # iterable object

In [63]:
print(*zip(name, marks))

('simran', 50) ('tushar', 60) ('ritik', 70) ('vishal', 40) ('subhodeep', 60) ('rahan', 80)

In [64]:
for i in zip(name, marks):
    print(i)

('simran', 50)
('tushar', 60)
('ritik', 70)
('vishal', 40)
('subhodeep', 60)
('rahan', 80)

In [65]:
list(zip(name, marks))

[('simran', 50),
 ('tushar', 60),
 ('ritik', 70),
 ('vishal', 40),
 ('subhodeep', 60),
 ('rahan', 80)]

In [66]:
print(zip(name, marks))

<zip object at 0x000002BA273E3400>

In [67]:
for n, m in zip(name, marks):
    print(n, m)

simran 50
tushar 60
ritik 70
vishal 40
subhodeep 60
rahan 80

In [70]:
for n, m in [[1, 2], [11, 12]]:
    print(n, m)

1 2
11 12

In [71]:
for n, *m in [name, marks]:
    print(n, m)

# n, *m = ['simran', 'tushar', 'ritik', 'vishal', 'subhodeep', 'rahan']
# n, *m = [50, 60, 70, 40, 60, 80]

simran ['tushar', 'ritik', 'vishal', 'subhodeep', 'rahan']
50 [60, 70, 40, 60, 80]

In [72]:
name

['simran', 'tushar', 'ritik', 'vishal', 'subhodeep', 'rahan']

In [75]:
eng = [50, 60, 70, 40, 60, 80]

In [76]:
maths = [80, 70, 75, 60, 80, 70]

In [77]:
sci = [75, 65, 75, 43, 69, 82]

In [79]:
list(zip(name, eng, maths, sci))

[('simran', 50, 80, 75),
 ('tushar', 60, 70, 65),
 ('ritik', 70, 75, 75),
 ('vishal', 40, 60, 43),
 ('subhodeep', 60, 80, 69),
 ('rahan', 80, 70, 82)]

In [80]:
print(*zip("python", "world_"))

('p', 'w') ('y', 'o') ('t', 'r') ('h', 'l') ('o', 'd') ('n', '_')

In [83]:
print(*zip("pyth*on", "wor"))

('p', 'w') ('y', 'o') ('t', 'r')

In [84]:
for n, m, e, s in zip(name, maths, eng, sci):
    print(n, m, e, s)

# n, m, e, s = ('simran', 80, 50, 75)

simran 80 50 75
tushar 70 60 65
ritik 75 70 75
vishal 60 40 43
subhodeep 80 60 69
rahan 70 80 82

In [85]:
for n, m, e, s in zip(name, maths, eng, sci):
    per = round((m + e + s)/3, 2)
    print(f"\n {n} --> {per}%")
    print("_"*80)
# n, m, e, s = ('simran', 80, 50, 75)

 simran --> 68.33%
________________________________________________________________________________

 tushar --> 65.0%
________________________________________________________________________________

 ritik --> 73.33%
________________________________________________________________________________

 vishal --> 47.67%
________________________________________________________________________________

 subhodeep --> 69.67%
________________________________________________________________________________

 rahan --> 77.33%
________________________________________________________________________________

In [90]:
from random import choice

In [97]:
choice(['a', 'b', 'c'])

'c'

In [98]:
choice(['yes', 'no'])

'yes'

In [99]:
names = list("ABCDEFHJIKLMNOPQRSTUVWXYZ")
vac = []
for _ in names:
    vac.append(choice(['yes', 'no']))

In [88]:
len(names)

25

In [89]:
names

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'H',
 'J',
 'I',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [100]:
len(vac)

25

In [101]:
print(vac)

['no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes']

In [102]:
count = 0
for n, v in zip(names, vac):
    if v == "yes":
        count += 1
print("\n Number of People Vaccincated Are --> ", count)
print("\n Number of People Not Vaccincated Are --> ", len(names) - count)

 Number of People Vaccincated Are -->  11

 Number of People Not Vaccincated Are -->  14