                      *           * * * * * *
                      *           * 
                      *           * 
                      *           * 
                      *           * 
                      * * * * * * * * * * * *
                                  *         *
                                  *         *
                                  *         *
                                  *         *
                                  *         *
                      * * * * * * *         *

In [1]:
13//2

6

In [4]:
num = int(input("\n Enter any value : ")) # num = 12, half = 6
row = 0
half = num//2
while row<num:
    if row == 0:
        print("* ", "  "*(half-1), "* "*(half+1), sep="")
    elif row<half:
        print("* ", "  "*(half-1), "* ", sep="")
    elif row == half:
        print("* "*num)
    elif row>half and row != num-1:  # last row will be at 11
        print("  "*(half), "* ", "  "*(half-1), "* ", sep="")
    elif row == num - 1:
        print("* "*(half+1), "  "*(half-1), "* ", sep="")
    row += 1

 Enter any value : 31
*                             * * * * * * * * * * * * * * * *
*                             *
*                             *
*                             *
*                             *
*                             *
*                             *
*                             *
*                             *
*                             *
*                             *
*                             *
*                             *
*                             *
*                             *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
                              *                             *
                              *                             *
                              *                             *
                              *                             *
                              *                             *
                              *                             *
                              *                             *
                              *                             *
                              *                             *
                              *                             *
                              *                             *
                              *                             *
                              *                             *
                              *                             *
* * * * * * * * * * * * * * * *                             *

In [10]:
9//2

4

In [50]:
enumerate("string")

In [51]:
for i in enumerate("string"):
    print(i)

(0, 's')
(1, 't')
(2, 'r')
(3, 'i')
(4, 'n')
(5, 'g')

In [52]:
for i in enumerate("string", start=2):
    print(i)

(2, 's')
(3, 't')
(4, 'r')
(5, 'i')
(6, 'n')
(7, 'g')

In [53]:
for i in enumerate("string", start=2, step=2):
    print(i)

TypeError: enumerate() takes at most 2 arguments (3 given)

In [55]:
for index, ele in enumerate("hello world"):
    print(index, "--> ", ele)

0 -->  h
1 -->  e
2 -->  l
3 -->  l
4 -->  o
5 -->
6 -->  w
7 -->  o
8 -->  r
9 -->  l
10 -->  d

In [56]:
#### You need to find index of maximum element

In [57]:
from random import randint

#### Write Stone Paper Scissor Code in a file with all PEP8 Guidelines to be followed

In [58]:
l = []
for i in "hello world":
    l.append(randint(1, 20))
print(l)

[10, 3, 5, 16, 20, 19, 19, 14, 4, 17, 2]

In [60]:
l.index(max(l))

4

In [62]:
list(enumerate(l))

[(0, 10),
 (1, 3),
 (2, 5),
 (3, 16),
 (4, 20),
 (5, 19),
 (6, 19),
 (7, 14),
 (8, 4),
 (9, 17),
 (10, 2)]

In [63]:
maxi_ = 0
index = 0
for i, ele in enumerate(l):
    if ele>maxi_:
        maxi_ = ele
        index = i
print(f"\n Maximum Element is : {maxi_} and Index is : {index}")

 Maximum Element is : 20 and Index is : 4

In [64]:
for i in 121:
    print(i)

TypeError: 'int' object is not iterable

In [65]:
for i in "hello world":
    print("hi")

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [66]:
range(100)
# start, stop, step
# start = 0, stop(compulsory), step=1

range(0, 100)

In [67]:
print(*range(100))

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [69]:
for i in range(100):
    print(i, end=",")

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,

In [70]:
range()

TypeError: range expected 1 argument, got 0

In [72]:
print(*range(0, 50, 2))

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

In [73]:
print(*range(10, 50, 2))

10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48

In [74]:
print(*range(2, 100, 2))

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [75]:
print(*range(1, 100, 2))

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [76]:
print(*range(100, 1, -1))

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2

In [78]:
print(*range(100, 10, -3))

100 97 94 91 88 85 82 79 76 73 70 67 64 61 58 55 52 49 46 43 40 37 34 31 28 25 22 19 16 13

In [79]:
print(*range(-34, 50))

-34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

In [80]:
print(*range(-50, -150))

In [81]:
for _ in range(10):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [82]:
for i in range(10):
    print(i*2)

0
2
4
6
8
10
12
14
16
18

In [83]:
for i in range(1, 11):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [84]:
l = [[1, 1, 0], [1, 1, 1], [0, 1, 1], [1, 0, 1], [0, 1, 1], [1, 1, 1], [0, 0, 1], [0, 0, 0]]

In [85]:
#### num find the number of lists having sum >= 2

In [87]:
count = 0
for var in l:
    if sum(var) >= 2:
        count += 1
print("\n Count --> ", count)

 Count -->  6

In [88]:
mat = []
for row in range(5):
    c = []
    for col in range(3):
        c.append(int(input(f"[{row}][{col}] --> ")))
    mat.append(c)
print(mat)

[0][0] --> 1
[0][1] --> 2
[0][2] --> 3
[1][0] --> 4
[1][1] --> 5
[1][2] --> 6
[2][0] --> 7
[2][1] --> 8
[2][2] --> 10
[3][0] --> 11
[3][1] --> 12
[3][2] --> 13
[4][0] --> 14
[4][1] --> 1
[4][2] --> 2
[[1, 2, 3], [4, 5, 6], [7, 8, 10], [11, 12, 13], [14, 1, 2]]

In [93]:
num = "1213456129870"  # i need to find duplicates in it 
s = set()
for i in num:
    c_i = num.count(i)
    if c_i > 1:
        s.add(i)
print(*s)

2 1

In [90]:
num.count('1')

3

In [94]:
l = [1, 2, 0, 3, 0, 1, 12, 0, 14]
#### you create a program which will change the actual list 
### where all the zeros in the list should be at end of the list 
### orders of numbers should not be changes
# l = [1, 2, 3, 1, 12, 14, 0, 0, 0]

    continue
    break
    for-else

In [95]:
for i in range(5):
    if i == 4:
        continue
    print(i)

0
1
2
3

In [96]:
for i in range(10):
    if i == 4:
        continue
    print(i)

0
1
2
3
5
6
7
8
9

In [97]:
for i in range(10):
    if i == 20:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9

In [99]:
for i in range(1, 10):
    if i%7 == 0:
        break
    print(i)

1
2
3
4
5
6

In [100]:
l

[1, 2, 0, 3, 0, 1, 12, 0, 14]

In [101]:
for i in l:
    if (i//4)>5:
        break
    print(i)
else:
    print("\n The last value of i is : ", i)

1
2
0
3
0
1
12
0
14

 The last value of i is :  14

In [102]:
14//4

3

In [104]:
l

[1, 2, 0, 3, 0, 1, 12, 0, 14]

In [103]:
for i in l:
    if (i//4)>=3:
        break
    print(i)
else:
    print("\n The last value of i is : ", i)

1
2
0
3
0
1

#### Lazy Evaluation
    eg --> zip, enumerate, range, map etc 
    
        It is evaluated only when you need it

In [106]:
r = range(10)

In [107]:
type(r)

range

In [108]:
r

range(0, 10)

#### List Comprehension

In [109]:
l = []
for i in range(1, 11):
    l.append(i)

In [110]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [111]:
[i for i in range(1, 11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [113]:
[int(input()) for i in range(1, 6)]

11
12
13
14
15

[11, 12, 13, 14, 15]

In [114]:
l = [randint(1, 20) for i in range(10)]

In [115]:
l

[10, 4, 19, 7, 19, 8, 16, 1, 20, 8]

In [116]:
even = []
for i in l:
    if i%2 == 0:
        even.append(i)

In [117]:
even

[10, 4, 8, 16, 20, 8]

In [118]:
[i for i in l if i%2==0]

[10, 4, 8, 16, 20, 8]

In [119]:
# "EVEN", "ODD"

In [121]:
l

[10, 4, 19, 7, 19, 8, 16, 1, 20, 8]

In [127]:
[i if i%2==0 else "ODD" for i in l]

[10, 4, 'ODD', 'ODD', 'ODD', 8, 16, 'ODD', 20, 8]

In [122]:
#### Try to make matrix using list comprehension
#### lab 11, lab12